FEISHU_API_BASE_URL=https://open.feishu.cn/open-apis
FEISHU_APP_ID=cli_xxxxxx
FEISHU_APP_SECRET=replace_me
FEISHU_CHAT_ID=oc_xxxxxx
ARK_API_KEY=ark_xxxxxx
ARK_MODEL_REPAIR=ep_xxxxxx
ARK_MODEL_SUMMARY=ep_xxxxxx
GITHUB_TOKEN=github_pat_xxxxxx
GITHUB_OWNER=your_owner
GITHUB_REPO=FeishuAutoRepair
GITHUB_BASE_BRANCH=main
TEST_CMD=pytest -q
